<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/address">Address</button>
    <button mat-button routerLink="/table">
      <mat-icon class="example-icon">table_chart</mat-icon>
      <span>Table</span>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>